@use '@/styles/palette.module' as palette;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: inline-block;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid palette.$additional-primary;
  border-top: 0.4rem solid palette.$primary-color;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
