@use '@/styles/palette.module.scss' as palette;

.form {
  padding: 4rem 3rem 5rem;
  border: 0.1rem solid palette.$powder-blue;
  border-radius: 1rem;

  &__title {
    margin: 0 0 4.5rem 0;
    color: palette.$powder-blue;
  }

  &__amount-group {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__error {
    text-align: center;
  }
}

.main-group {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2rem;
}

.amount-group {
  &__label {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__input {
    padding: 1.2rem 1.6rem;
    border: 0.1rem solid palette.$powder-blue;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: palette.$powder-blue;
  }
}

.converter-group {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}
